
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
       
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}

            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <!-- Bootstrap CSS -->



    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    
    </head>
    <body>
{% block title %}Log in!{% endblock %}

{% block body %}
<body class="text-center">
    
<main class="form-signin">
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Salir</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Ingrese sus credenciales</h1>
    <label for="inputEmail">Correo</label>
    <input type="email" class="w-10 " value="{{ last_username }}" name="email" id="inputEmail"  autocomplete="email" required autofocus>
    <label for="inputPassword">Contraseña</label>
    <input type="password" name="password" id="inputPassword" class="w-10 " autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

  

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    

    <button class="w-10 btn btn-lg btn-primary"  type="submit">
        Sign in
    </button>
</form>
</main>
{% endblock %}
